@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --input-bg: #f3f4f6;
  --input-text: #111827;
  --input-border: solid 2px red;
  --message-border: solid 2px red;
}
.dark {
  --input-bg: red;
  --input-border: "none";
  --background: #0a0a0a;
  --foreground: #ededed;
  --input-bg: #f3f4f6;
  --message-border: solid 2px white
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
input {
  border: solid 2px red;
  border-radius: 8px;
  background-color: var(--input-bg);
  color: var(--input-text);
}
.copied {
  border-color: green !important;
  transition: border-color 0.3s ease;
}

